{% extends "app_hazid/base.html" %}

{% block title %}Stats{% endblock %}


{% block content %}
    {% if observed_counts %}
        {% for i in observed_counts %}
            <li>{{ i.i_observed }} - {{ i.count }}</li>
        {% endfor %}
    {% else %}
        <h4>No Stats</h4>
    {% endif %}

    <li>Team size - {{ team_size }}</li>
    <li>Card Submitted - {{ card_submitted }}</li>
    <li style="color: red;">Target Achieved - {{ target_achieved }}%</li>
    <li>No. of Individuals who Participated - {{ individuals.count }}</li>
    <li style="color: red;">Individuals Participating - {{ individuals_percentage }}%</li>

{% endblock %}